.notifications-dropdown .dropdown-menu {
    width: 350px;
    padding: 0;
    border: 1px solid var(--bs-border-color-translucent);
}

.notification-list {
    max-height: 400px;
    overflow-y: auto;
}

.notifications-dropdown .dropdown-item {
    white-space: normal;
    border-bottom: 1px solid var(--bs-border-color-translucent);
}