.header {
    z-index: 1030;
    min-height: 70px;
}

.custom-header-dropdown .dropdown-toggle {
    display: flex !important;
    align-items: center !important;
    padding: 0 !important;
}

.custom-header-dropdown .dropdown-toggle::after {
    margin-left: 0.5rem;
}
